body{
    background-color: yellow;
}
.completed{
    background-color: green;
    border:solid 2px red;
}
.overlay{
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.3);
    pointer-events: none;
    transform: scale(0);
    transition: ease-in-out 150ms;
}
.overlay.active{
    transform: scale(1);
    pointer-events: all;
    transition: ease-in-out 150ms;
}
.project-modal,
.todo-modal{
    background-color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: scale(0);
    transition: ease-in-out 150ms;
}
.project-modal.active,
.todo-modal.active{
    transform: translate(-50%,-50%) scale(1);
    transition: ease-in-out 150ms;
}